.contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.photoContact{
    width: 600px;
    height: 450px;
    border-radius: 1rem;
}
.contactFrom{
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input{
    padding: .7rem;
    border-radius: 1rem;
    border: 1px solid pink;
    font-size: 20px;
}
textarea{
    border: 1px solid pink;
    border-radius: 1.5rem;
    padding: 1rem;
}
button{
    width: 100px;
    margin: 0 auto;
    background: white;
    color: pink;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: 1px solid pink;
    font-size: 20px;
}

button:hover{
    background: pink;
    color: white;
}

@media (max-width: 720px){
    .contact{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .photoContact{
        width: 350px;
        height: 180px;
    }

}
